<div class="trendingGames">
    <div class="trendingImg img-hover-zoom--colorize">
        <a href="/gameProfile/{{id}}"><img src="/images/{{ picture }}" alt="{{ picture }}" /></a>
    </div>
    <!-- Note: consider removing the trendingTitle div if game images will come with their titles default in the pic -->
    <div class="trendingTitle"><a href="/gameProfile/{{id}}">{{upperCase game_name}}</a></div>
    <!-- <div class="trendingRating">R A T I N G</div> -->
</div>