<div class="trendingGames">
    <div class="trendingImg img-hover-zoom--colorize">
        <a href="/gameProfile/{{id}}"><img src="/images/{{ picture }}" alt="{{ picture }}" /></a>
    </div>
    <div class="trendingTitle"><a href="/gameProfile/{{id}}">{{upperCase game_name}}</a></div>
</div>