<!-- Pseudo Code to ensure each game profile is loaded with its respective reviews -->
{{!-- <div class="gameProfileSection">
	<div class="row">
		<div class="gameCard">
			<div class="cardHeader">
				<h4 class="gameTitle"> {{game.game_name}} </h4>
				<h4 class="gameRating">
					{{#if game.reviews}}
						{{averageOut game.reviews}}
						out of out of
						{{game.reviews.length}}
						reviews ★
					{{else}}No reviews yet
					{{/if}}
				</h4>
			</div>
			<div class="gameImg">
				<img src="/images/{{game.game_picture}}.jpg" />
			</div>
			<div class="gameProfile">
				<p>{{game.game_desc}}</p>
			</div>
			<div class="gameReviewCard">
    			<div class="reviewTitle">
       				<h4>R E V I E W S</h4>
    			</div>
            </div>
	</div>
</div>
                <h2>{{allReviews.game_name}}</h2>
                {{#each allReviews.reviews as |review| }}
                {{>reviews review}} {{!-- links to the 'partials' view --}}
                {{/each}}
			

<link rel="stylesheet" href="/css/style.css"/>
<script src="/js/register.js"></script>
<script src="/js/logout.js"></script> --}}